<nav class="c-navigation {% if site.fixedNav == 'true' %}is-fixed{% endif %}">
  <div class="c-navigation__container u-container">

    <!-- Homepage -->
    <a class="c-navigation__item {% if page.url == '/' %}is-active{% endif %}"
       href="{{ "/" | prepend: site.baseurl }}">Home</a>

    <!-- Programming Posts and tutorials -->
    <a class="c-navigation__item {% if page.url == '/articles/' %}is-active{% endif %}"
       href="{{ "/articles/" | prepend: site.baseurl }}">Articles</a>

    <!-- Personal Journal -->
    <a class="c-navigation__item {% if page.url == '/journal/' %}is-active{% endif %}"
       href="{{ "/journal/" | prepend: site.baseurl }}">Journal</a>
  </div>
</nav>
